@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700,700i');

body{
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    font-weight: 400;
}

header{
    text-align: center;
    background: url("../img/banner.jpg");
    width: 100%;
    color: #fff;
}

footer{
    text-align: center;
}

.container{
    padding: 1%;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    text-transform: uppercase;
}

#header-content{
    padding: 1%;
}

header > #header-content > img {
    width:150px;
    height:150px;
    border-radius: 100%;
}

.navbar ul{
    list-style: none;
    height: auto;
    padding: 1%;
    margin: 0;
}

.navbar li{
    display: inline-block;
    width: 5%;
    padding: 1%;
    margin-right: 1%;
    background-color: white;
    border-radius: 20%;
}

.navbar li:hover{
    background-color: gray;
}

.navbar li a{
    text-decoration: none;
}

/* Layout */
div.row{
    display: flex;
}

div.col{
    padding:1em;
}

div.col-left{
    flex: 0 0 50%;
}

div.col-right{
    flex: 1;
}

/* Forms */
input, textarea{
    width:100%;
    box-sizing: border-box;
    resize: none;
    padding:10px;
    margin: 5px 5px;
    border: 1px solid grey;
}

/* Icons */
i{
    color: #fff;
    padding: 5px 10px;
    margin: 1%;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 0px 0px 2px #888;
}

.fa-facebook{
    background-color: #3b5998;
}

.fa-twitter{
    background-color: #1da1f2;
}

.fa-github{
    background-color: #333;
}

.fa-envelope{
    background-color: #3C4;
}

.fa-linkedin{
    background-color: #0077b5;
}

/* Links Default */
a, a:link, a:active, a:visited{
    text-decoration: none;
    color: #0077b5;
}

a:hover{
    color: #1da1f2;
    text-decoration: underline;
}

/* Timetable Stuff */
table{
    width: 100%;
    border-collapse: collapse;
}

caption{
    caption-side: bottom;
    text-align: left;
    font-family: serif;
}

td, th{
    color: #fff;
    font-weight: 300;
    width: auto;
    padding: 1%;
}

td, th, tr{
    border: 1px solid #000;
}

th{
    font-family: serif;
    color: #000;
}

.tb-time{
    font-weight: 400;
}

.location{
    margin-left: 2%;
    float: right;
}

.blank{
    
}

.disc-maths{
    background-color: darkblue;
}

.prog-fund-1{
    background-color: red;
}

.web-dev-1{
    background-color: purple;
}

.comp-sys{
    background-color: gray;
    color: #fff;
}

.comp-ind{
    background-color: green;
}

.physics-1{
    background-color: yellow;
    color: #000;
}